* {
  margin: 0;
  padding: 0;
}

main, header, footer {
  padding: 10px;
}

h1 {
  margin: 20px 0;
}

main {
  height: 30vw;
}

.dark {
  background-color: #282c34;
  color: rgb(233, 233, 233);
}

.light {
  color: #282c34;
  background-color: rgb(233, 233, 233);
}