* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Economica', sans-serif;
    background-color: #f2f2f2;
    font-size: 1.2rem;
    color: #272727;
}


/* HEADER */

header {
    text-align: center;
    color: ;
    margin: 20px 0px;
    font-size: 1.3rem;
}

h1 {
    font-family: 'Quantico', sans-serif;
    color: #b95a00;
}

nav {
    background-color: #15382a;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: white;
}



/* ARTICLE */

/* SECTION INFORMAÇÕES GERAIS */
h2 {
    text-align: center;
    font-size: 1.9rem;
    margin: 50px 0;
    color: #964800;
}

h3 {
    color: #15382a;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

article > section {
    margin: 20px 10px;
    text-align: center;
}

.general-info p {
    max-width: 660px;
    text-align: left;
    text-align: center;
    margin: auto;
}

img {
    border-radius: 4px;
}

.general-info img {
    max-width: 300px;
    margin: 30px 30px 40px 0px
}

.general-info div {
    margin: 30px 0px;
    display: inline-block;
    vertical-align: top;
}

.general-info table {
    margin: auto;
}

.general-info tr {
    text-align: left;
}

.general-info h5 {
    margin-bottom: 10px;
}


/* SUPERVISÃO */
.supervisao p {
    display: inline-block;
    max-width: 400px;
    vertical-align: top;
}

.supervisao img {
    max-width: 300px;
    margin: 20px 10px 20px 30px;
}