* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Economica', sans-serif;
    background-color: #f2f2f2;
    font-size: 1.2rem;
    color: #272727;
}


/* HEADER */

header {
    text-align: center;
    padding: 40px 0px;
    font-size: 1.3rem;
    background-color: #15382a;
}

h1 {
    font-family: 'Quantico', sans-serif;
    color: #dd6b00;
}

nav {
    background-color: #0c2018;
    text-align: center;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 20px 20px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 600;
    letter-spacing: 0.1rem;
}



/* ARTICLE */

/* SECTION INFORMAÇÕES GERAIS */
h2 {
    text-align: center;
    font-size: 3rem;
    margin: 50px 0;
    color: #964800;
}

h3 {
    color: #15382a;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

article > section {
    margin: 20px 10px;
    text-align: center;
}

.general-info p {
    max-width: 660px;
    text-align: left;
    text-align: center;
    margin: auto;
    line-height: 2rem;
}

img {
    border-radius: 4px;
}

.general-info img {
    max-width: 300px;
    margin: 40px 30px 70px 0px
}

.general-info div {
    margin: 50px 0px;
    display: inline-block;
    vertical-align: top;
}

.general-info table {
    margin: auto;
}

.general-info tr {
    text-align: left;
}

.general-info h5 {
    margin-bottom: 10px;
}


/* SUPERVISÃO */
.supervisao {
    background-color: #ffebcd;
    padding: 50px 0px;
    margin: 0;
}

.supervisao p {
    display: inline-block;
    max-width: 400px;
    vertical-align: top;
    line-height: 2rem;
}

.supervisao img {
    max-width: 300px;
    margin: 40px 10px 20px 30px;
}



/* SUPERSOCO */
.supersoco {
    padding: 50px 0px;
    margin: 0;
}

.supersoco p {
    display: inline-block;
    max-width: 400px;
    vertical-align: top;
    line-height: 2rem;
}

.supersoco img {
    max-width: 300px;
    margin: 40px 30px 20px 10px;
}


/* REFERENCES */
.references {
    background-color: #ffebcd;
    margin: 0;
    padding: 40px 10px;
}

.references li {
    line-height: 2.5rem;
    transition: 0.5s;
}

.references a {
    color: #272727;
}

.references a:hover {
    background-color: #f8d39b;
}

.references li:hover {
    transform: scale(1.1);
}


/* ASIDE */
aside {
    background-color: #ffebcd;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    padding: 15px 0px 40px 0px;
    color: #964800;
}

aside a {
    color: #964800;
    text-decoration: underline;
}

aside a:hover {
    background-color: #f8d39b;
}