/* Adiciona o CSS do Pikaday */
@import './node_modules/pikaday/css/pikaday.css';

/* Para a biblioteca Pikaday funcionar, você precisa mudar o type do input de data para text. */



/* style.css */
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}